<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include sidebar.html %}

    <div class="wrap">
      <header class="header-background">
        <div class="container mx-auto px-2 mb-2 clearfix header-text">
          <h1
            class="h0 inline-block col-9 sm-width-full py-4 mt-3 header-title"
          >
            {{ site.title }}
          </h1>
          <div class="clearfix mb-4 py-1">
            <!-- Set site description in config.yml -->
            <p class="h4 lh-condensed font-smoothing mt-2 py-1">
              {{ site.description }}
            </p>
          </div>
        </div>
      </header>

      <div class="container mx-auto px-2 py-4">
        {% for post in site.posts %} {% include post_block.html %} {% endfor %}
      </div>
    </div>

    {% include footer.html %} {% include sidebar_toggle.html %}
  </body>
</html>
