<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include sidebar.html %}

    <div class="wrap">
      <header class="header-background">
        <div class="container mx-auto px-2 mb-2 clearfix header-text">
          <h1
            class="h0 inline-block col-9 sm-width-full py-3 mt-3 header-title"
          >
            {{ site.title }}
          </h1>
          <div class="clearfix py-1">
            <!-- Set site description in config.yml -->
            <p class="h4 text-accent font-smoothing py-1">
              {{ site.description }}
            </p>
          </div>
        </div>
      </header>

      <div class="container mx-auto px-2">
        <div class="col-9">
          <h2>
            Browse posts by <a href="{{ site.baseurl }}/categories/">category</a>,
            <a href="{{ site.baseurl }}/all/">date posted</a>, or see some top posts below.
          </h2>
        </div>
        <div class="col-9 clearfix my-2">
          <h3>
            <a
            href="{{ site.baseurl }}/2019/05/05/ending-bailouts-and-recessions-why-the-left-should-care-about-monetary-economics/"
            >Ending Bailouts and Recessions: Why the Left should care about
            monetary economics</a>
         </h3>
          <p>
            I’ve certainly made no secret about how important monetary
            economics is to my thinking, but I also have never clearly laid
            out the arguments that convinced me of monetarism, let alone
            explained its central theories. This isn’t by design. There’s
            almost an introduction to monetarism already on this blog, if
            you’re willing to piece together thirty footnotes on ten different
            posts. It is obviously the case that no one wants to do this.
            Therefore, I’d like to try something else: a succinct explanation
            of monetary economics, written as clearly as possible and without
            any simplifying omissions or obfuscations, but free of
            (unexplained) jargon.
          </p>
          <hr class="orange-filter" />
          <h5>
            See other posts in the category <a href="{{ site.baseurl }}/category/economics">Economics</a>, such as <a href="{{ site.baseurl }}/2018/08/26/you-shouldnt-believe-in-technological-unemployment-without-believing-in-killer-ai/">You Shouldn’t Believe In Technological Unemployment Without Believing In Killer AI</a> and
            <a href="{{ site.baseurl }}/2018/02/25/not-just-zoning-housing-prices-driven-by-beauty-contests/">Not Just Zoning: Housing Prices Driven By Beauty Contests</a>
          </h5>
        </div>


        <div class="col-9 clearfix my-2">
          <h3>
            <a href="{{ site.baseurl }}/2017/01/22/nuclear-weapons-1-0-introduction/"
            >The Nuclear Weapons Series</a
          >
         </h3>
          <p>
            This post series is meant as a non-exhaustive primer on the (declassified)
            physical and strategic realities of nuclear weapons. It’s supposed to get you
            up to the point where you can begin asking the right questions in a relatively
            short time period. If you want more information, I’ve included relevant links
            (mainly to Wikipedia) at the end of every section.
          </p>
          <hr class="orange-filter" />
          <h5>
            You can also start with the introductory presentation ("instead of covering the boring stuff
            like how fission works, I’m going to talk about the strategic
            realities surrounding the use of nuclear weapons")
            <a href="{{ site.baseurl }}/2017/11/01/nuclear-weapons-explained-backwards/">
            Nuclear Weapons Explained Backwards</a>
         </h5>
        </div>

        <div class="col-9 clearfix my-2">
          <h3>
            <a href="{{ site.baseurl }}/2017/06/05/against-moral-intuitions/"
            >Against Moral Intuitions</a
          >
         </h3>
          <p>
            In Catholic school, you have to take a series of religion courses.
            The first two are boring. Jesus loves you, is your friend, etc.
            Thanks school. I got that from going to church all my life. But
            the later religion classes were some of the most useful courses
            I’ve taken. Ever. The ethics part hit me the hardest. I’d always
            loved systematizing and here I was exposed to Very Important
            Philosophy People engaged in the millennia long project of
            systematizing fundamental questions of right and wrong under
            awesome sounding names, like “utilitarianism” and “deontology”.
          </p>
          <hr/>
          <h5>
            See other posts in the category <a href="{{ site.baseurl }}/category/ethics">Ethics</a>, such as
            <a href="{{ site.baseurl }}/2018/02/25/book-review-the-righteous-mind/">Book Review: The Righteous Mind</a> and
            <a href="{{ site.baseurl }}/2017/08/20/utilitarian-virtue-ethics/">Utilitarian Virtue Ethics</a>
          </h5>
        </div>

        <div class="col-9 clearfix my-2">
          <h3>
            <a href="{{ site.baseurl }}/2018/06/25/book-review-the-captured-economy/"
            >Book Review: The Captured Economy</a
          >
         </h3>
          <p>
            There are many problems that face modern, developed economies.
            Unfortunately, no one agrees with what to do in response to them.
            Even economists are split, with libertarians championing
            deregulation, while liberals call for increased government
            spending to reduce inequality. Or at least, that’s the
            conventional wisdom. The Captured Economy, by Dr. Brink Lindsey
            (libertarian) and Dr. Steven M. Teles (liberal) doesn’t have much
            time for conventional wisdom.
          </p>
          <hr class="orange-filter" />
          <h5>
            See other <a href="{{ site.baseurl }}/tag/book-review">Book Reviews</a>, including reviews of
            <a href="{{ site.baseurl }}/2018/10/14/book-review-bad-blood/">Bad Blood</a> and
            <a href="{{ site.baseurl }}/2018/02/25/2018/01/14/book-review-origins-of-totalitarianism-part-1/">Origins of Totalitarianism</a>
          </h5>
        </div>

        <div class="col-9 clearfix my-2">
          <h3>
            <a href="{{ site.baseurl }}/2017/10/29/housework/">
              A Practical Guide to Splitting The Housework
            </a>
         </h3>
          <p>
            There are three main things you need to work on if you want to be
            able to split both the act of doing chores and the mental load of
            keeping track of them with your partner. These are: general
            skills, noticing things, and keeping track of what needs to
            happen. It’s difficult to work on any of these in isolation.
            Getting better at chores will help you feel empowered to notice
            when they need to be done or keep track of the schedule of doing
            them. Doing chores whenever you notice they need to be done will
            give you the practice you need to get better at them.
          </p>
          <hr class="orange-filter" />
          <h5>
            See other posts in the category <a href="{{ site.baseurl }}/category/advice">Advice</a>, such as
            <a href="{{ site.baseurl }}/2018/01/28/vegetarian-nutrition/">Not Making That Mistake Again: A Quick Dive Into Vegetarian Nutrition</a> and
            <a href="{{ site.baseurl }}/2016/11/21/resume-tips-for-students/">Resume Tips For Students</a>
          </h5>
        </div>

        <div class="col-9 clearfix my-2">
          <h3>
            <a
            href="{{ site.baseurl }}/2018/01/22/youre-doing-taxes-wrong-consumptive-vs-wealth-inequality/"
            >You’re Doing Taxes Wrong: Consumptive vs. Wealth Inequality
          </a>
         </h3>
          <p>
            When you worry about rising inequality, what are you thinking
            about? I now know of two competing models for inequality, each of
            which has vastly different implications for political economy.In
            the first, called consumptive inequality, inequality is embodied
            in differential consumption. Under this model, there is a huge gap
            between Oracle CEO Larry Ellison (net worth: $60 billion), with
            his private islands, his yacht, etc. and myself, with my cheap
            rented apartment, ten-year-old bike, and modest savings. Under the
            second model, inequality in new worth or salary is all that
            matters. This is the classic model that gives us the GINI
            coefficient and “the 1%.
          </p>
          <hr/>
          <h5>
            See other posts in the category <a href="{{ site.baseurl }}/category/politics">Politics</a>, such as <a href="{{ site.baseurl }}/2017/07/26/meditations-on-regulation-or-the-case-of-the-10000-stairs/">Meditations on Regulation, or the Case of the $10,000 Staircase</a> and
            <a href="{{ site.baseurl }}/2017/09/03/westminster-is-bestminster/">Westminster is bestminster</a>
          </h5>
        </div>

        <div class="col-9 clearfix my-2">
          <h3>
            <a
            href="{{ site.baseurl }}/2018/06/17/a-cross-of-gold-the-best-speech-youve-never-heard/"
            >A Cross of Gold: The Best Speech You’ve Never Heard</a
            >
           </h3>
          <p>
            I write today about a speech that was once considered the greatest
            political speech in American history. Even today, after Reagan,
            Obama, Eisenhower, and King, it is counted among the very best.
            And yet this speech has passed from the history we have learned.
            Its speaker failed in his ambitions and the cause he championed is
            so archaic that most people wouldn’t even understand it.
          </p>
          <hr class="orange-filter" />
          <h5>
            See other posts in the category <a href="{{ site.baseurl }}/category/history">History</a>, such as
            <a href="{{ site.baseurl }}/2019/05/27/weather-today-fine-but-high-waves/">Weather today fine but high waves</a> and
            <a href="{{ site.baseurl }}/2019/04/13/book-review-the-horse-the-wheel-and-language/">Book Review: The Horse The Wheel And Language</a>
          </h5>
        </div>

        <div class="col-9 clearfix my-2">
          <h3>
            Annual Predictions
          </h3>
          <p>
            Zach made annual predictions, focused on geopolitical, Canadian
            and personal developments, in
            <a href="{{ site.baseurl }}/2017/01/01/2017-predictions/">2017</a> (<a
              href="{{ site.baseurl }}/2018/01/01/grading-my-2017-predictions/"
              >results</a
            >), <a href="{{ site.baseurl }}/2018/01/03/2018-predictions/">2018</a> (<a
              href="{{ site.baseurl }}/2019/01/01/grading-my-2018-predictions/"
              >results</a
            >), and <a href="{{ site.baseurl }}/2019/01/06/2019-predictions/">2019</a> (<a
              href="{{ site.baseurl }}/2020/01/31/grading-zachs-2019-predictions/"
              >results</a
            >). The idea is to pick a limited number of probabilities (I
            recommend 51%, 60%, 70%, 80%, and 90%) and assign one to each item
            that you have an opinion on. At the end of the year, you count the
            number of correct items in each probability bin and use that to
            see how close you were to ideal. This gives you an answer to the
            important question: “when I say something is 80% likely to happen,
            how likely, really, is it to happen?”
          </p>
          <hr class="orange-filter" />
          <h5>
            See every
            <a href="{{ site.baseurl }}/tag/predictions">Predictions</a>
            post
         </h5>
        </div>
      </div>
    </div>
    {% include footer.html %} {% include sidebar_toggle.html %}
  </body>
</html>
