<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include sidebar.html %}

    <div class="wrap">
      <header class="header-background">
        <div class="container mx-auto px-2 mb-2 clearfix header-text">
          <h1
            class="h0 inline-block col-9 sm-width-full py-3 mt-3 header-title"
          >
            {{ site.title }}
          </h1>
          <div class="clearfix py-1">
            <!-- Set site description in config.yml -->
            <p class="h4 text-accent font-smoothing py-1">
              {{ site.description }}
            </p>
          </div>
        </div>
      </header>

      <div class="container mx-auto px-2">
        <div class="col-9">
          <h2>
            Browse posts by <a href="{{ site.baseurl }}/categories/">category</a>,
            <a href="{{ site.baseurl }}/all/">date posted</a>, or see some top posts below.
          </h2>
        </div>
        <!-- top posts row 1 -->
        <div class="clearfix mb-2">
          <div class="col-6 left py-2 px-2">
            <h3 class="mt-0">
              <a
                href="{{ site.baseurl }}/2019/05/05/ending-bailouts-and-recessions-why-the-left-should-care-about-monetary-economics/"
                >Ending Bailouts and Recessions: Why the Left should care about
                monetary economics</a
              >
            </h3>
            <p>
              I’ve certainly made no secret about how important monetary
              economics is to my thinking, but I also have never clearly laid
              out the arguments that convinced me of monetarism, let alone
              explained its central theories. This isn’t by design. There’s
              almost an introduction to monetarism already on this blog, if
              you’re willing to piece together thirty footnotes on ten different
              posts. It is obviously the case that no one wants to do this.
              Therefore, I’d like to try something else: a succinct explanation
              of monetary economics, written as clearly as possible and without
              any simplifying omissions or obfuscations, but free of
              (unexplained) jargon.
            </p>
            <h5>
              See all posts in the category
              <a href="{{ site.baseurl }}/category/economics">Economics</a>
            </h5>
          </div>

          <div class="col-6 left py-2 px-2">
            <h3 class="col-9 mt-0">
              <a
                href="{{ site.baseurl }}/2018/01/22/youre-doing-taxes-wrong-consumptive-vs-wealth-inequality/"
                >You’re Doing Taxes Wrong: Consumptive vs. Wealth Inequality
              </a>
            </h3>
            <p>
              When you worry about rising inequality, what are you thinking
              about? I now know of two competing models for inequality, each of
              which has vastly different implications for political economy.In
              the first, called consumptive inequality, inequality is embodied
              in differential consumption. Under this model, there is a huge gap
              between Oracle CEO Larry Ellison (net worth: $60 billion), with
              his private islands, his yacht, etc. and myself, with my cheap
              rented apartment, ten-year-old bike, and modest savings. Under the
              second model, inequality in new worth or salary is all that
              matters. This is the classic model that gives us the GINI
              coefficient and “the 1%.
            </p>
            <h5>
              See all posts in the category
              <a href="{{ site.baseurl }}/category/politics">Politics</a>
            </h5>
          </div>
        </div>

        <!-- top posts row 2 -->
        <div class="clearfix mb-2">
          <div class="col-6 left py-2 px-2">
            <h3 class="col-9 mt-0">
              <a href="{{ site.baseurl }}/2017/06/05/against-moral-intuitions/"
                >Against Moral Intuitions</a
              >
            </h3>
            <p>
              In Catholic school, you have to take a series of religion courses.
              The first two are boring. Jesus loves you, is your friend, etc.
              Thanks school. I got that from going to church all my life. But
              the later religion classes were some of the most useful courses
              I’ve taken. Ever. The ethics part hit me the hardest. I’d always
              loved systematizing and here I was exposed to Very Important
              Philosophy People engaged in the millennia long project of
              systematizing fundamental questions of right and wrong under
              awesome sounding names, like “utilitarianism” and “deontology”.
            </p>
            <h5>
              See more posts in the category
              <a href="{{ site.baseurl }}/category/ethics">Ethics</a>
            </h5>
          </div>

          <div class="col-6 left py-2 px-2">
            <h3 class="col-9 mt-0">
              <a href="{{ site.baseurl }}/2018/06/25/book-review-the-captured-economy/"
                >Book Review: The Captured Economy</a
              >
            </h3>
            <p>
              There are many problems that face modern, developed economies.
              Unfortunately, no one agrees with what to do in response to them.
              Even economists are split, with libertarians championing
              deregulation, while liberals call for increased government
              spending to reduce inequality. Or at least, that’s the
              conventional wisdom. The Captured Economy, by Dr. Brink Lindsey
              (libertarian) and Dr. Steven M. Teles (liberal) doesn’t have much
              time for conventional wisdom.
            </p>
            <h5>See all <a href="{{ site.baseurl }}/tag/book-review">Book Reviews</a></h5>
          </div>
        </div>

        <!-- top posts row 3 -->
        <div class="clearfix mb-2">
          <div class="col-6 left py-2 px-2">
            <h3 class="col-9 mt-0">
              <a
                href="{{ site.baseurl }}/2018/06/17/a-cross-of-gold-the-best-speech-youve-never-heard/"
                >A Cross of Gold: The Best Speech You’ve Never Heard</a
              >
            </h3>
            <p>
              I write today about a speech that was once considered the greatest
              political speech in American history. Even today, after Reagan,
              Obama, Eisenhower, and King, it is counted among the very best.
              And yet this speech has passed from the history we have learned.
              Its speaker failed in his ambitions and the cause he championed is
              so archaic that most people wouldn’t even understand it.
            </p>
            <h5>
              See more posts in the category
              <a href="{{ site.baseurl }}/category/history">History</a>
            </h5>
          </div>

          <div class="col-6 left py-2 px-2">
            <h3 class="col-9 mt-0">
              <a href="{{ site.baseurl }}/2017/10/29/housework/">
                A Practical Guide to Splitting The Housework
              </a>
            </h3>
            <p>
              There are three main things you need to work on if you want to be
              able to split both the act of doing chores and the mental load of
              keeping track of them with your partner. These are: general
              skills, noticing things, and keeping track of what needs to
              happen. It’s difficult to work on any of these in isolation.
              Getting better at chores will help you feel empowered to notice
              when they need to be done or keep track of the schedule of doing
              them. Doing chores whenever you notice they need to be done will
              give you the practice you need to get better at them.
            </p>
            <h5>
              See more posts in the category
              <a href="{{ site.baseurl }}/category/advice">Advice</a>
            </h5>
          </div>
        </div>

        <!-- top posts row 4 -->
        <div class="clearfix mb-2">
          <div class="col-6 left py-2 px-2">
            <h3 class="col-9 mt-0">
              <a href="{{ site.baseurl }}/2017/11/01/nuclear-weapons-explained-backwards/">
                Nuclear Weapons Explained Backwards
              </a>
            </h3>
            <p>
              This will be a backwards explanation of nuclear weapons; I don’t
              have time to cover it all so instead of covering the boring stuff
              like how fission works, I’m going to talk about the strategic
              realities surrounding the use of nuclear weapons. Let’s actually
              do this thing like you’re a bunch of kids; I’m going to assume
              you’re always asking me “why?”. So at the highest level: this is a
              presentation about nuclear weapons. Why am I doing this?
            </p>
            <h5>
              See every post in the
              <a href="{{ site.baseurl }}/2017/01/22/nuclear-weapons-1-0-introduction/"
                >Nuclear Weapons</a
              >
              series
            </h5>
          </div>
          <div class="col-6 left py-2 px-2">
            <h3 class="col-9 mt-0">Annual Predictions</h3>
            <p>
              Zach made annual predictions, focused on geopolitical, Canadian
              and personal developments, in
              <a href="{{ site.baseurl }}/2017/01/01/2017-predictions/">2017</a> (<a
                href="{{ site.baseurl }}/2018/01/01/grading-my-2017-predictions/"
                >results</a
              >), <a href="{{ site.baseurl }}/2018/01/03/2018-predictions/">2018</a> (<a
                href="{{ site.baseurl }}/2019/01/01/grading-my-2018-predictions/"
                >results</a
              >), and <a href="{{ site.baseurl }}/2019/01/06/2019-predictions/">2019</a> (<a
                href="{{ site.baseurl }}/2020/01/31/grading-zachs-2019-predictions/"
                >results</a
              >). The idea is to pick a limited number of probabilities (I
              recommend 51%, 60%, 70%, 80%, and 90%) and assign one to each item
              that you have an opinion on. At the end of the year, you count the
              number of correct items in each probability bin and use that to
              see how close you were to ideal. This gives you an answer to the
              important question: “when I say something is 80% likely to happen,
              how likely, really, is it to happen?”
            </p>
            <h5>
              See every
              <a href="{{ site.baseurl }}/tag/predictions">Predictions</a>
              post
            </h5>
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %} {% include sidebar_toggle.html %}
  </body>
</html>
