---
layout: default
---

<article
  class="container px-2 mx-auto"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
  <h1
    class="h0 col-10 sm-width-full py-1 mt-3 inline-block post-title"
    itemprop="name headline"
  >
    {{ page.title }}
  </h1>
  <div class="col-10 sm-width-full mt-1 border-top-thin">
    <p class="mb-3 py-2 bold h4">
      <time
        datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished"
        >{{ page.date | date: "%b %-d, %Y" }}</time
      >
      {% if page.categories.size > 0 %} in {% for category in page.categories %}
      <a href="{{ site.baseurl }}/category/{{ category | slugify }}">{{ category }}</a>{% if
      forloop.last %}{% else %},{% endif %} {% endfor %} {% endif %}
    </p>
  </div>

  <div class="prose" itemprop="articleBody">{{ content }}</div>
  
  <p class="h4">
    {% if page.tags.size > 0 %} Tags:{% for tag in page.tags %}
    <a href="{{ site.baseurl }}/tag/{{ tag | slugify }}">{{ tag }}</a>{% if forloop.last %}{% else
    %},{% endif %} {% endfor %} {% endif %}
  </p>
  </article>

<div class="container mx-auto px-2 py-2 clearfix">
  <!-- Modified from /_includes/previous-next.html -->
  {% assign user_url = site.url | append: site.baseurl %} {% assign full_base_url = user_url | default: site.github.url %}
  <div class="col-2 sm-width-full left text-center mr-lg-4 mt-3">
    <p class="h5 bold border-top-thin py-1 block link-primary">
        <a
          href="{{ full_base_url }}/2017/01/22/nuclear-weapons-1-0-introduction/"
        >
        The Nuclear Weapons Series
      </a>
    </p>
  </div>
  {% if page.nuclear-series.previous.url %}
    <div class="col-4 sm-width-full left mr-lg-4 mt-3">
      <span class="h5 bold border-top-thin py-1 block">Previous</span>
      <a
        href="{{ page.nuclear-series.previous.url | prepend: full_base_url }}"
      >
        <p class="bold h3 link-primary mb-1">{{ page.nuclear-series.previous.title }}</p>
      </a>
    </div>
  {% endif %}

  {% if page.nuclear-series.next.url %}
    <div class="col-4 sm-width-full right mt-3">
      <span class="h5 bold border-top-thin py-1 block">Next</span>
      <a
        href="{{ page.nuclear-series.next.url | prepend: full_base_url }}"
      >
        <p class="bold h3 link-primary mb-1">{{ page.nuclear-series.next.title }}</p>
      </a>
    </div>
  {% endif %}
</div>

