---
layout: default
---

<article
  class="container px-2 mx-auto"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
  <h1
    class="h0 col-10 sm-width-full py-1 mt-3 inline-block post-title"
    itemprop="name headline"
  >
    {{ page.title }}
  </h1>
  <div class="col-10 sm-width-full mt-1 border-top-thin">
    <p class="mb-3 py-2 bold h4">
      <time
        datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished"
        >{{ page.date | date: "%b %-d, %Y" }}</time
      >
      {% if page.author.size > 0 %} by 
        {% if page.author_link.size > 0 %}<a href="{{ page.author_link }}">{{ page.author }} </a>{% else %}{{ page.author }} {% endif %}
      {% endif %}
      {% if page.categories.size > 0 %} in {% for category in page.categories %}
      <a href="{{ site.baseurl }}/category/{{ category | slugify }}">{{ category }}</a>{% if
      forloop.last %}{% else %},{% endif %} {% endfor %} {% endif %}
    </p>
  </div>

  <div class="prose" itemprop="articleBody">{{ content }}</div>

  <p class="h4">
    {% if page.tags.size > 0 %} Tags:{% for tag in page.tags %}
    <a href="{{ site.baseurl }}/tag/{{ tag | slugify }}">{{ tag }}</a>{% if forloop.last %}{% else
    %},{% endif %} {% endfor %} {% endif %}
  </p>
</article>

<div class="container mx-auto px-2 py-2 clearfix">
  {% if page.nuclear-series %}
    {% include previous-next-nuclear.html %}
  {% else %}
    {% include previous-next.html %}
  {% endif %}
</div>
