<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div>

      <header class="header-background">

        <div class="clearfix border-bottom-thick header-border">
          <ul class="list-reset py-1 header-text font-smoothing">
            <li class="inline-block">
              <a class="align-middle link-primary header-link ml-2" href="/">Home</a>
            </li>
            <li class="inline-block">
              <a class="align-middle link-primary header-link ml-2" href="/categories">Categories</a>
            </li>
            <li class="inline-block">
              <a class="align-middle link-primary header-link ml-2" href="/tags">Tags</a>
            </li>
          </ul>
        </div>

        <div class="container mx-auto px-2 mb-2 clearfix header-text">
          <h1 class="inline-block col-9 sm-width-full py-2 mt-2 header-title">Tag: {{ page.tag }}</h1>
        </div>
      </header>

      <div class="container mx-auto px-2 py-4">
        {% for post in site.tags[page.tag] %}
          {% include post_block.html %}
        {% endfor %}
      </div>

    </div>

    {% include footer.html %}

  </body>

</html>
